
body{
	background-color: lightblue;
}


h1{
	text-align: center;
	font-size: 32px;
}

h2{
	text-align: center;
	font-size: 20px;
}

h5{
	text-align: left;
	font-size: 20px;
	font-weight: bold;
}
div.title{
	border:5px solid;
	background-color: white;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

body{
	background-image: url('../static/img/bg.jpg');
}


div.menu{
	overflow-y: auto;
	display: inline-block;
	margin-left: 8%;
	margin-top: 1%;
	background: white;
	padding-left: 10px;
	border: 5px solid;
	height: 90%;
	width: 50%;
}

div.cart{
	display: inline-block;
	vertical-align: top;
	overflow-y: auto;
	margin-top: 1%;
	background: white;
	padding-left: 10px;
	border: 5px solid;
	height: 70%;
	width: 100%;
}

div.total{
	overflow-y: auto;
	border: 5px solid;
	background: white;
	height: 10%;
	width: 100%;
}

div.menu_title{
	text-align: center;
	font-size: 48px;
	font-weight: bold;
}

div.menu_cat{
	text-align: center;
	font-size: 32px;
	font-weight: bold;
}

div.item_num{
	float:left;
	text-align: left;
	font-size:  15px;
	font-weight:bold;
}
div.item_desc{
	float:center;
	text-align: center;
	font-size:  15px;
	font-weight:bold;
}
div.item_price{
	text-align: center;
	font-size:  15px;
	font-weight:bold;
}

div.order_item{
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}
div.order_item_1{
	text-align: left;
	font-size: 16px;
	font-weight: bold;
}

.add{
	display: block;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
}

div.invisible {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

div.receipt{
	overflow: scroll;
	overflow-y: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	height: 80%;
	width: 80%;
	background:white;
	border: 5px solid;
}

div.thanks{
	text-align: center;
	font-size: 30px;
	font-style: italic;
}

div.rec_item{
	text-align: left;
	font-size: 20px;
	font-style: italic;
}

div.order_container{
	overflow-x: auto;
	overflow-y: auto;
	display: block;
	margin-top: 1%;
	height: 60%;
	width: 100%;
	border: 5px solid;
	background: white;
}
div.order_title{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

div.order_num{
	font-size: 25px;
	font-weight: bold;
	text-align: left;
}

div.order_content{
	font-size: 20px;
	font-style: italic;
	text-align: left;
}

div.clear_order{
	border: 5px solid;
	width: 100%;
	justify-content: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: white;

}

div.change_menu{
	opacity: 95%;
	border: 5px solid;
	width: 100%;
	display: block;
	margin-right: auto;
	background: white;
}


div.form_heading{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

div.form_title{
	text-align: left;
	font-size: 20px;
	font-weight: bold;
}

div.register{
	border: 5px solid;
	height: 80%;
	width: 80%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	background: white;

}