<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

    <title>Collier Web App - Customer Home</title>

</head>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script type="text/javascript">
	
	var total = 0;
	var order = "";


	function add_to_cart(item,price){

		let element = document.getElementById('cart');
		element.innerHTML += '<div class = "order_item">'+item+"...."+price+'';
		update_total(parseFloat(price.substring(1)));
		order+= (item+"...."+price+":");
		
		document.getElementById("current_order").value = order;

		
	}

	function update_total(price)
	{
		total +=price;
		
		var tax = total * 0.07;
		fin_total = total+tax;

		tax = tax.toFixed(2);

		
		fin_total = fin_total.toFixed(2);

		let total_el = document.getElementById('total');
		
		total_el.innerHTML = '<div class = "order_item_1"> Subtotal .......'+total.toFixed(2)+'<hr>'+ 'Tax .......'+tax +'<hr>'+'Total .......'+fin_total+'</div>';

		document.getElementById("subtotal").value = total.toFixed(2);
		document.getElementById("tax").value = tax;
		document.getElementById("total").value = total+tax;

	}




</script>

<body>

	<div class = "title"> Welcome back, {{customer}}</div>

	
		<div class = "menu">
			<div class = "menu_title">Menu</div>
			<br><hr>

			<div class = "menu_cat">Combos</div>

			{% for c in combos %}
				<hr>

				<form id = "add_combo">

					<div class = "item_num">#{{c.number}}</div>
					<div class = "item_desc">{{c.item}}</div>
					<div class = "item_price">{{c.price}}</div>
					
					<button type="button" class = "add" onclick="add_to_cart('{{c.item}}','{{c.price}}')">Add to order</button>

				</form>

				<hr>
			{% endfor %}

			<div class = "menu_cat">Pizza</div>
			{% for p in pizzas %}
				<hr>
				<form id = "add_pizza">
					<div class = "item_num">#{{p.number}}</div>
					<div class = "item_desc">{{p.item}}</div>
					<div class = "item_price">{{p.price}}</div>

					<button type="button" class = "add" onclick="add_to_cart('{{p.item}}','{{p.price}}')">Add to order</button>
				</form>
				<hr>
			{% endfor %}

			<div class = "menu_cat">Sides</div>
			{% for s in sides %}
				<hr>
				<form id = "add_side">
					<div class = "item_num">#{{s.number}}</div>
					<div class = "item_desc">{{s.item}}</div>
					<div class = "item_price">{{s.price}}</div>
					<button type="button" class = "add" onclick="add_to_cart('{{s.item}}','{{s.price}}')">Add to order</button>
				</form>
				<hr>
			{% endfor %}

			<div class = "menu_cat">Subs</div>
			{% for su in subs %}
				<hr>
				<form id = "add_sub">
					<div class = "item_num">#{{su.number}}</div>
					<div class = "item_desc">{{su.item}}</div>
					<div class = "item_price">{{su.price}}</div>
					<button type="button" class = "add" onclick="add_to_cart('{{su.item}}','{{su.price}}')">Add to order</button>
				</form>
				<hr>
			{% endfor %}

		</div>

	
		<div style="float:right; width: 40%;padding-right: 100px;padding-top: 12px;">

			<div class = "cart" id = "cart">

				<div class = "menu_title">Cart</div>
				<br><hr>


			</div>
			
			<div class ="total" id = "total">
			
			</div>

			<form class="form-signin" action = "/customer.html" method = "post">
				<input type="hidden" name="myforms" value="order">
				<input type="hidden" name="this_order" id ="current_order" value="">
				<input type="hidden" name="this_sub"   id ="subtotal" value="">
				<input type="hidden" name="this_tax"   id ="tax" value="">
				<input type="hidden" name="this_total" id ="total" value="">
				<input type="Submit" value ="Submit Order">
			</form>

		
		</div>


	

</body>
</html>

